## [<3] This docker-compose.yml has been created by L5ON!
version: '3'

services:
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    ports:
      - 6200:80
    environment:
      - MYSQL_HOST=nextcloud-db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud ## [!!] Change the password here...
    volumes:
      - ./nextcloud_data:/var/www/html
    networks:
      - nextcloud_network
    restart: always

## [!! WARNING !!] Make shure, you change the password here, and above, in the nextcloud service!
  nextcloud-db:
    image: mariadb
    container_name: nextcloud-db
    environment:
      MYSQL_ROOT_PASSWORD: nextcloud
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud ## [!!] Change the password here too...
    volumes:
      - nextclouddb_data:/var/lib/mysql
    networks:
      - nextcloud_network
    ports:
      - "3306:3306"

  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./nginxproxymanager_data:/data
      - ./letsencrypt_data:/etc/letsencrypt

volumes:
  nextcloud_data:
  nextclouddb_data:

networks:
  nextcloud_network:
